[submodule "ontoBrAPI-node-docker"]
	path = ontobrapi-web
	url = https://github.com/forestbiotech-lab/ontobrapi-web.git
[submodule "ontobrapi-admin"]
	branch = main
	path = ontobrapi-admin
	url = git@github.com:forestbiotech-lab/ontobrapi-admin.git
[submodule "ontobrapi-brapi"]
	path = ontobrapi-brapi
	url = git@github.com:forestbiotech-lab/ontobrapi-brapi.git
	branch = master
